@import url("https://fonts.googleapis.com/css2?family=Jura:wght@500&family=Maven+Pro&family=Varta&display=swap");
/*$Main_Font: 'Space Grotesk', sans-serif;*/
* {
  font-family: "Varta", sans-serif;
}

/* Updated colours */
/*$MainWhite: #fefefe;*/
/*$DarkestBlue: #009CAD;
$SecondBlue: #19E8FF;
$MiddleBlue: #00E1FA;
$DarkOrgane: #AD4A00;
$LightOrange: #FA6A00;*/
/* THEME TWO */
:root {
  --LighestColour: #29f2c6;
  --DarkestColour: #03a682;
  --MiddleColour: #15caa2;
  --TextColour: white;
  --BackgroundColour: #181818;
  --SecondBackgroundColour: #212121;
  --MainGrey: #606060;
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  color: var(--TextColour);
}

:export {
  --value1: #606060;
}


#Content {
  width: 100vw;
  height: 100vh;
  background-color: var(--BackgroundColour);
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: max-content auto;
}
#Content #LeftContent {
  grid-column: 2;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#Content #LeftContent #AddUsers {
  text-align: center;
}
#Content #LeftContent #AddUsers div * {
  display: inline-block;
}
#Content #LeftContent #AddUsers div h4 {
  font-size: 1.2rem;
}
#Content #LeftContent #AddUsers p {
  font-size: 1.2rem;
  border: 2px solid var(--TextColour);
  padding: 0 1%;
  margin-top: 2%;
}
#Content #LeftContent #EmailSend {
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
}
#Content #LeftContent #EmailSend input {
  display: block;
  width: 95%;
}
#Content #LeftContent #EmailSend textarea {
  width: 100%;
  height: 60%;
}
#Content #LeftContent #EmailSend .EmailButtonHolder {
  width: 100%;
}
#Content #LeftContent #EmailSend .EmailButtonHolder section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#Content #ButtonBox {
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  height: 10vh;
}
#Content #ButtonBox .ButtonHolder {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
#Content #CurrentUsers {
  grid-column: 3;
  grid-row: 1/3;
  color: var(--TextColour);
  width: 100%;
}
#Content #CurrentUsers table {
  width: 100%;
}
#Content #CurrentUsers table tr, #Content #CurrentUsers table td, #Content #CurrentUsers table th {
  text-align: center;
}
#Content #CurrentUsers table tr, #Content #CurrentUsers table td {
  border-bottom-style: solid;
}

/* MISC styling  */
.Line {
  border-bottom: 1px solid var(--TextColour);
  width: 99%;
}

#ClosePane {
  display: none;
}

@media (max-width: 600px) {
  #Content {
    width: 100%;
    height: 100vh;
    background-color: var(--BackgroundColour);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90% 10%;
  }
  #Content #LeftContent {
    grid-column: 1;
    grid-row: 1;
    display: none;
    z-index: 2;
    height: 100%;
    background-color: var(--BackgroundColour);
  }
  #Content #ButtonBox {
    grid-column: 1;
    background-color: var(--BackgroundColour);
    grid-row: 2;
    position: fixed;
    z-index: 3;
    bottom: 0px;
  }
  #Content #CurrentUsers {
    grid-column: 1;
    width: 100%;
    height: 100%;
    grid-row: 1;
  }
  #ClosePane {
    display: block;
  }
  .BoxButton {
    padding: 0px 2%;
    border: 1px solid var(--TextColour);
  }
}/*# sourceMappingURL=AddUser.css.map */