@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    --OffBlack: rgba(249, 250, 251, 0.5);
    height: 100%;;
    --MainBlack: hsl(0, 60%, 2%);
    --Green: #CAFFBF;
    /*--Green: hsl(42, 100%, 80%);
    --Green: hsl(195, 83%, 57%);
    --Green: hsl(4, 82%, 77%)*/
    --Red: #f07167;
    color: var(--MainBlack);

    
    
    font-size: 16px;

}
* {
    margin: 0;
    padding: 0;
}


::-webkit-scrollbar {
    width: 10px;
  } 
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--OffBlack);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 25px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--Green);
  }


  #bgPhone {
    display: none;
}



  @media screen and (max-width: 600px) {
    #bgPhone {
      position: fixed;
      top: 0px;
      left: 0px;
      display: inline;
      z-index: -1;
      min-height: 100%;
      min-width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 0%;

  
  }
  }
  
  