@import "Assets2";


.ArticleParaBackground {

    min-width: 100%;
    //background-attachment: fixed;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
    color: white;
    background-size: cover;



    h1 {
        font-family: 'Bebas Neue', cursive;
        font-size: clamp(24px, 54px, 64px);
        
        
    }
    p {
        font-family: 'Noto Sans', sans-serif;        
        width: 50%;


    }
    


     
    



}

#ParaBackground1 {
    background-image: url(Images/BgImage1.jpg);

    
    justify-content: center;
    align-items: center;

    ion-icon {
        color: var(--Red);
        font-size: 64px;


    }
    h1 {
        text-align: center;
        color: var(--Red);

        font-weight: bold;
    }


}

#ParaBackground2 {
    font-family: 'Bebas Neue', cursive;
    background-image: url(Images/BgImage3.jpg);

    justify-content: center;
    align-items: flex-start;
    color: white;

    * {
        span {
            color: var(--Green);

    
        }

    }
    

    
    
}

#ParaBackground3 {
    font-family: 'Bebas Neue', cursive;
    background-image: url(Images/BgImage2.jpg);


    * {
        span {
            color: var(--Red);


    
        }

    }

}

#ParaBackground4 {

    background-image: url(Images/BgImage4.jpg);

    justify-content: center;
    align-items: center;

    ion-icon {
        color: var(--Red);
        font-size: 64px;


    }
    a {
        color: var(--Green);
        text-decoration: none;
        font-size: 64px;
        font-family: 'Bebas Neue', cursive;



    
        font-weight: bold;
    }


}


@media screen and (max-width: 600px) {

    .ArticleParaBackground {
        * {
            filter: grayscale(0%);
        }
    }

    #ParaBackground1 {
        background-image: url(Images/BgImage5.jpg);
        filter: grayscale(100%);

    }
    #ParaBackground2 {
        background-image: url(Images/BgImage6.jpg);
        filter: grayscale(100%);

    }
    #ParaBackground3 {
        background-image: url(Images/BgImage7.jpg);
        filter: grayscale(100%);

        
        

    }

    #ParaBackground4 {
        background-image: url(Images/BgImage8.jpg);
        filter: grayscale(100%);

    }

    
}