@import "Assets2";


.ArticleParaBackground {

    min-width: 100%;

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
    color: white;

    h1 {
        font-size: 64px;
        
    }
    p {
        font-family: 'Noto Sans', sans-serif;        
        width: 50%;


    }
    


     
    



}

#ParaBackground1 {
    background-image: url(Images/BgImage1.jpg);
    background-size: cover;
    background-position: fixed;

    justify-content: center;
    align-items: center;

    ion-icon {
        color: var(--Red);
        font-size: 64px;


    }
    p {
        text-align: center;
        
        color: var(--Red);
        font-size: 30px;

        font-weight: bold;
    }


}

#ParaBackground2 {
    font-family: 'Bebas Neue', cursive;
    background-image: url(Images/BgImage3.jpg);
    background-size: cover;
    background-attachment: fixed;

    justify-content: center;
    align-items: flex-start;
    color: white;

    * {
        span {
            color: var(--Green);

    
        }

    }
    

    
    
}

#ParaBackground3 {
    font-family: 'Bebas Neue', cursive;
    background-image: url(Images/BgImage2.jpg);

    background-size: cover;
    background-attachment: fixed;

    * {
        span {
            color: var(--Red);


    
        }

    }

}

#ParaBackground4 {

    background-image: url(Images/BgImage4.jpg);
    background-size: cover;
    background-position: fixed;

    justify-content: center;
    align-items: center;

    ion-icon {
        color: var(--Red);
        font-size: 64px;


    }
    a {
        color: var(--Green);
        text-decoration: none;
        font-size: 64px;


    
        font-weight: bold;
    }


}