@font-face {
  font-family: TitleFont;
  src: url("../Fonts/Karrik-Regular.otf"), url("../Fonts/Karrik-Regular.ttf") format("ttf");
}

:root {
  --MainBlack: #212529;
  --MainWhite: #F8FAF9;
  --LeftColour: #84fab0;
  --RightColour: #8fd3f4;
  --Gradient: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

* {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

html {
  font-family: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 25px;
  background: var(--Gradient);
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--MainBlack);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--Gradient);
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--Gradient);
}

nav {
  z-index: 3;
  position: fixed;
  background-color: var(--MainBlack);
  width: 100%;
  padding: 10px 0px;
}

nav a {
  text-transform: uppercase;
  font-family: TitleFont;
  border-left: 2px solid var(--LeftColour);
  padding: 0px 10px;
  color: var(--MainWhite);
  text-decoration: none;
}

nav a:first-child {
  border-left: 1px solid transparent;
  background-image: var(--Gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav a:hover {
  -webkit-transition: 200ms;
  transition: 200ms;
  background-image: var(--Gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ion-icon {
  display: none;
}

#TextHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--MainBlack);
}

#TextHolder #Video {
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

#TextHolder #Roles {
  z-index: 2;
  font-family: TitleFont;
  text-transform: uppercase;
  background-image: var(--Gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4.8rem;
}

#TextHolder #Typer {
  width: 3px;
  height: auto;
  border-top: 48px solid #f093fb;
  -webkit-animation: Blinking 100ms ease 0ms infinite alternate;
          animation: Blinking 100ms ease 0ms infinite alternate;
  color: transparent;
}

#TextHolder #GradientOff {
  height: 12vh;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #212529;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--MainBlack)));
  background: linear-gradient(to bottom, transparent 0%, var(--MainBlack) 100%);
  z-index: 2;
}

#Experience {
  height: 100vh;
  width: 100%;
  background-color: var(--MainBlack);
}

#Experience h1 {
  font-family: TitleFont;
  background-image: var(--Gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  text-transform: uppercase;
  margin-left: 40px;
}

@-webkit-keyframes Blinking {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Blinking {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
  #Roles {
    margin-left: 5px;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ion-icon {
    display: block;
    color: var(--MainWhite);
    font-size: 2rem;
  }
  nav a {
    display: none;
  }
  .ShowMenu {
    -webkit-transition: 200ms;
    transition: 200ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .ShowMenu a {
    display: block;
    font-size: 4rem;
    text-align: left;
    border: 0px solid transparent;
    border-bottom: 3px solid var(--LeftColour);
  }
}

@media only screen and (min-width: 600px) {
  html {
    font-family: 20px;
  }
  #Roles {
    margin-left: 40px;
  }
}
/*# sourceMappingURL=index3.css.map */