@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: TitleFont;
  src: url("../Fonts/Karrik-Regular.otf"), url("../Fonts/Karrik-Regular.ttf") format("ttf");
}

:root {
  --MainBlack: #212529;
  --MainWhite: #F8FAF9;
  --LeftColour: #84fab0;
  --RightColour: #8fd3f4;
  --MiddleColour: #8ee3d2;
  --Gradient: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  --OtherFont: 'Montserrat', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.GradientOffWhite {
  height: 12vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--MainBlack)), to(transparent));
  background: linear-gradient(to bottom, var(--MainBlack) 0%, transparent 100%);
}

html {
  font-size: 20px;
}

body {
  background-color: var(--MainBlack);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 25px;
  background: var(--Gradient);
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--MainBlack);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--Gradient);
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--Gradient);
}

nav {
  z-index: 5;
  position: fixed;
  background-color: var(--MainBlack);
  width: 100%;
  padding: 10px 0px;
}

nav a, nav #OliverQuail {
  text-transform: uppercase;
  font-family: TitleFont;
  border-left: 2px solid var(--LeftColour);
  padding: 0px 10px;
  color: var(--MainWhite);
  text-decoration: none;
  display: inline-block;
}

nav #LogoMenu {
  display: inline;
}

nav #LogoMenu #OliverQuail {
  border-left: 0px solid transparent;
  background-image: var(--Gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: TitleFont;
}

nav a:first-child {
  border-left: 1px solid transparent;
  background-image: var(--Gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: TitleFont;
}

nav a:hover {
  -webkit-transition: 200ms;
  transition: 200ms;
  background-image: var(--Gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: TitleFont;
}

nav ion-icon {
  display: none;
}

article {
  width: 100%;
}

article h1 {
  font-family: TitleFont;
  background-image: var(--Gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: TitleFont;
  font-size: 4rem;
  text-transform: uppercase;
  margin-left: 40px;
}

article .UnderTitle {
  color: var(--MainWhite);
  font-style: italic;
  margin-left: 40px;
  margin-right: 20%;
  padding-bottom: 20px;
  font-family: var(--OtherFont);
}

#TextHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--MainBlack);
}

#TextHolder #Video {
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

#TextHolder #Roles {
  z-index: 2;
  font-family: TitleFont;
  text-transform: uppercase;
  background-image: var(--Gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: TitleFont;
  font-size: 4.8rem;
  margin-left: 40px;
}

#TextHolder #Typer {
  width: 3px;
  height: auto;
  border-top: 48px solid #f093fb;
  -webkit-animation: Blinking 100ms ease 0ms infinite alternate;
          animation: Blinking 100ms ease 0ms infinite alternate;
  color: transparent;
}

#TextHolder #GradientOff {
  height: 12vh;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #212529;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--MainBlack)));
  background: linear-gradient(to bottom, transparent 0%, var(--MainBlack) 100%);
  z-index: 2;
}

#Experience {
  width: 100%;
  background-color: var(--MainBlack);
  padding-bottom: 20px;
}

#Experience .Template3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

#Experience .Template3 section {
  width: 29%;
  height: 100%;
  overflow-x: visible;
}

#Experience .Template3 section h2 {
  color: var(--MainWhite);
  font-family: TitleFont;
  text-transform: uppercase;
  font-size: 3rem;
  overflow-x: visible;
}

#Experience .Template3 section p {
  font-family: var(--OtherFont);
  color: var(--MainWhite);
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  #Experience .Template3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  #Experience .Template3 section {
    width: 100%;
    padding-top: 10px;
  }
  #Experience .Template3 section h2 {
    font-size: 2.5rem;
    border-top: 5px solid var(--LeftColour);
  }
  #Experience .Template3 section h2, #Experience .Template3 section p {
    padding-left: 15px;
  }
}

#PreviousWork {
  background-color: var(--MainBlack);
}

#PreviousWork .Image3 {
  padding-bottom: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 50% 30% auto;
      grid-template-columns: auto 50% 30% auto;
  padding-bottom: 10vh;
}

#PreviousWork .Image3 .ImageHolder {
  text-align: center;
  -ms-grid-column: 2;
  grid-column: 2;
}

#PreviousWork .Image3 .ImageHolder img {
  width: 80%;
  border-radius: 25px;
}

#PreviousWork .Image3 .Overlay {
  z-index: 2;
  -ms-grid-column: 3;
  grid-column: 3;
  height: 100%;
}

#PreviousWork .Image3 .Overlay h2 {
  font-size: 2.5rem;
  padding-left: 10%;
  background-image: var(--Gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: TitleFont;
  background-color: #212529;
}

#PreviousWork .Image3 .Overlay section {
  padding-left: 10%;
  padding-right: 10%;
}

#PreviousWork .Image3 .Overlay section i {
  font-family: var(--OtherFont);
  color: var(--MainWhite);
}

#PreviousWork .Image3 .Overlay section a {
  display: none;
}

#PreviousWork .Image3 .Overlay .ButtonLink {
  display: block;
  overflow-x: visible;
  text-align: center;
  text-decoration: none;
  color: var(--MainWhite);
  border: 2px solid var(--MiddleColour);
  border-radius: 25px;
  font-family: TitleFont;
  padding: 10px;
  font-size: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}

#PreviousWork .Image3 .Overlay .ButtonLink:hover {
  -webkit-transition: 200ms;
  transition: 200ms;
  background: var(--Gradient);
  color: var(--MainBlack);
}

#PreviousWork #ReadMore {
  text-decoration: none;
  color: var(--MainWhite);
  font-family: TitleFont;
  border-radius: 50px;
  margin-left: 10%;
  text-align: center;
  width: 80%;
  padding: 20px 0px;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  border: 5px solid var(--MiddleColour);
}

#PreviousWork #ReadMore:hover {
  -webkit-transition: 200ms;
  transition: 200ms;
  -webkit-box-shadow: rgba(250, 248, 249, 0.2) 2px 1px 2px;
          box-shadow: rgba(250, 248, 249, 0.2) 2px 1px 2px;
}

#Skills {
  background-color: var(--MainBlack);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#Skills #SkillDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#Skills #SkillDisplay section {
  width: 50%;
}

#Skills #SkillDisplay #SkillsList {
  position: relative;
}

#Skills #SkillDisplay #SkillsList p {
  color: var(--MainWhite);
  font-family: TitleFont;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

#Skills #SkillDisplay #SkillsList .ActiveTitle {
  background: var(--Gradient);
  color: var(--MainBlack);
}

#Skills #SkillDisplay #SkillDescription {
  display: -ms-grid;
  display: grid;
  height: 100%;
}

#Skills #SkillDisplay #SkillDescription section {
  width: 100%;
  z-index: 1;
  opacity: 0;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

#Skills #SkillDisplay #SkillDescription p, #Skills #SkillDisplay #SkillDescription h2 {
  color: var(--MainWhite);
}

#Skills #SkillDisplay #SkillDescription h2 {
  font-family: TitleFont;
  text-transform: uppercase;
  border-bottom: 2px solid var(--MiddleColour);
}

#Skills #SkillDisplay #SkillDescription p {
  font-family: var(--OtherFont);
}

#Skills #SkillDisplay #SkillDescription .ActivePanel {
  -webkit-transition: 500ms;
  transition: 500ms;
  opacity: 1;
  z-index: 3;
}

#FAQ {
  background-color: var(--MainBlack);
  padding-bottom: 20px;
}

#FAQ .Template3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

#FAQ .Template3 section {
  width: 29%;
  height: 100%;
  overflow-x: visible;
}

#FAQ .Template3 section h2 {
  color: var(--MainWhite);
  font-family: TitleFont;
  text-transform: uppercase;
  font-size: 3rem;
  overflow-x: visible;
}

#FAQ .Template3 section p {
  font-family: var(--OtherFont);
  color: var(--MainWhite);
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  #FAQ .Template3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  #FAQ .Template3 section {
    width: 100%;
    padding-top: 10px;
  }
  #FAQ .Template3 section h2 {
    font-size: 2.5rem;
    border-top: 5px solid var(--LeftColour);
  }
  #FAQ .Template3 section h2, #FAQ .Template3 section p {
    padding-left: 15px;
  }
}

#FAQ .Template3 section h2 {
  font-size: 1.5rem;
}

#Outro {
  background-color: var(--MainBlack);
}

#Outro #ContactHolder {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#Outro #ContactHolder section {
  width: 50%;
}

#Outro #ContactHolder #ContactTitles {
  font-family: TitleFont;
  color: var(--MainWhite);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Outro #ContactHolder #ContactTitles section {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#Outro #ContactHolder #ContactTitles section p {
  text-align: center;
}

#Outro #ContactHolder #ContactTitles #Fiver.ActiveTitle {
  background-color: var(--LeftColour);
  color: var(--MainBlack);
}

#Outro #ContactHolder #ContactTitles #Upwork.ActiveTitle {
  background-color: var(--MiddleColour);
  color: var(--MainBlack);
}

#Outro #ContactHolder #ContactTitles #Email.ActiveTitle {
  background-color: var(--RightColour);
}

#Outro #ContactHolder #ContactTitles .ActiveTitle {
  width: 100%;
}

#Outro #ContactHolder #ContactPanel {
  display: -ms-grid;
  display: grid;
}

#Outro #ContactHolder #ContactPanel section {
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  opacity: 0;
}

#Outro #ContactHolder #ContactPanel section h2 {
  font-family: TitleFont;
  color: var(--MainWhite);
  border-bottom: 2px solid var(--MiddleColour);
  width: 100%;
  text-transform: uppercase;
}

#Outro #ContactHolder #ContactPanel section p {
  color: var(--MainWhite);
  font-family: var(--OtherFont);
  margin-bottom: auto;
}

#Outro #ContactHolder #ContactPanel section a {
  display: block;
  text-decoration: none;
  color: var(--MainWhite);
  font-family: TitleFont;
  border: 2px solid var(--MiddleColour);
  border-radius: 25px;
  text-align: center;
  margin-top: auto;
}

#Outro #ContactHolder #ContactPanel .ActivePanel {
  -webkit-transition: 200ms;
  transition: 200ms;
  opacity: 1;
  z-index: 3;
}

footer {
  background-color: var(--MainBlack);
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer p {
  font-family: TitleFont;
  border-bottom: 2px solid var(--MiddleColour);
  color: var(--MainWhite);
  border-bottom: 2px solid var(--MiddleColour);
}

@-webkit-keyframes Blinking {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Blinking {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1080px) {
  html {
    font-size: 15px;
  }
  #FAQ .Template3 section h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 850px) {
  #Experience .Template3 {
    overflow-x: visible;
  }
  #Experience .Template3 section {
    overflow-x: visible;
  }
  #Experience .Template3 section h2 {
    overflow-x: visible;
    font-size: 2rem;
  }
  #PreviousWork .Image3 {
    -ms-grid-columns: 5% auto auto 5%;
        grid-template-columns: 5% auto auto 5%;
  }
  #Skills #SkillDisplay #SkillsList p {
    font-size: 1.5rem;
  }
  #Outro #ContactHolder #ContactTitles section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #Outro #ContactHolder #ContactTitles section p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  #TextHolder #Roles {
    font-size: 2.4rem;
    margin-left: 10px;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav #LogoMenu {
    margin-right: auto;
    padding-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav #LogoMenu #OliverQuail {
    display: block;
  }
  nav #LogoMenu ion-icon {
    display: block;
    color: var(--MainWhite);
    font-size: 2rem;
  }
  nav a {
    display: none;
  }
  .ShowMenu {
    -webkit-transition: 200ms;
    transition: 200ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .ShowMenu #LogoMenu, .ShowMenu #LastLink {
    margin-bottom: auto;
  }
  .ShowMenu a {
    display: block;
    font-size: 3rem;
    text-align: left;
    border: 0px solid transparent;
    border-bottom: 3px solid var(--LeftColour);
    width: 100%;
    text-align: right;
  }
  article h1 {
    font-size: 3rem;
    margin-left: 10px;
  }
  article .UnderTitle {
    margin-left: 10px;
    width: 90%;
    padding-bottom: 20px;
  }
  #PreviousWork .Image3 {
    padding-bottom: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  #PreviousWork .Image3 .ImageHolder, #PreviousWork .Image3 .Overlay {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  #PreviousWork .Image3 .ImageHolder {
    -webkit-filter: brightness(0.3);
            filter: brightness(0.3);
    text-align: center;
  }
  #PreviousWork .Image3 .ImageHolder img {
    width: 90%;
    border-radius: 25px;
  }
  #PreviousWork .Image3 .Overlay {
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #PreviousWork .Image3 .Overlay h2 {
    padding-left: 5%;
    font-size: 2.5rem;
    background-image: var(--Gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: TitleFont;
    background-color: #212529;
  }
  #PreviousWork .Image3 .Overlay section {
    padding-left: 5%;
    padding-right: 5;
  }
  #PreviousWork .Image3 .Overlay section i {
    font-family: var(--OtherFont);
    color: var(--MainWhite);
  }
  #PreviousWork .Image3 .Overlay section a {
    display: inline;
    background-image: var(--Gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: TitleFont;
    text-decoration: underline;
  }
  #PreviousWork .Image3 .Overlay .ButtonLink {
    display: none;
  }
  #PreviousWork #ReadMore {
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
  }
  #Skills #SkillDisplay {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #Skills #SkillDisplay section {
    width: 100%;
  }
  #Skills #SkillDisplay #SkillsList, #Skills #SkillDisplay #SkillDescription {
    width: 100%;
    text-align: center;
  }
  #Skills #SkillDisplay #SkillDescription {
    margin-top: 20px;
  }
  #Outro #ContactHolder {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 40px;
  }
  #Outro #ContactHolder section {
    width: 100%;
  }
  #Outro #ContactHolder #ContactPanel {
    margin-top: 20px;
  }
  #FAQ .Template3 section h2 {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=index3.css.map */