@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@font-face {
  font-family: TitleFont;
  src: url("../Fonts/Acacius-regular.otf"), url("../Fonts/Acaciusregular.ttf") format("ttf");
}
:root {
  --MainWhite: #FAF8F9;
  --MainBlack: #212529;
  --MainPurple: #ac4dff;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--MainWhite);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--MainPurple);
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--MainPurple);
}

html {
  font-size: 10px;
}

p {
  font-size: 1.6rem;
}

* {
  padding: 0px;
  margin: 0px;
  color: var(--MainBlack);
  overflow-x: hidden;
}

h1, h2 {
  font-weight: 100;
  text-transform: uppercase;
  font-family: TitleFont;
  text-align: center;
}

p {
  font-family: "Source Sans Pro", sans-serif;
}

#Intro {
  display: flex;
}
#Intro #Name {
  height: 100vh;
  writing-mode: vertical-lr;
  text-align: center;
  font-family: TitleFont;
  letter-spacing: 2vh;
  font-size: 3rem;
  background-color: var(--MainBlack);
  color: var(--MainWhite);
}
#Intro section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: TitleFont;
  font-size: 4rem;
}
#Intro section ion-icon {
  font-size: 20rem;
  animation: fade 2s ease-in-out 0s infinite alternate;
}

#ContentHolder {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
#ContentHolder .ContentHolder3 {
  margin-bottom: auto;
  border: 3px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 100%;
}
#ContentHolder .ContentHolder3 section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#ContentHolder .ContentHolder3 section ion-icon {
  margin-top: auto;
  font-size: 2.4rem;
}
#ContentHolder .ContentHolder3 section h1 {
  margin-bottom: auto;
  font-family: TitleFont;
  font-size: 2.4rem;
}
#ContentHolder .ContentHolder3 p {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
}
#ContentHolder .ContentHolder3:hover {
  transition: 400ms;
  border: 3px solid var(--MainPurple);
  border-radius: 15%;
}
#ContentHolder .ContentHolder3:hover ion-icon {
  color: var(--MainPurple);
}
#ContentHolder .ContentHolder3:hover h1 {
  color: var(--MainPurple);
}

#WorkTitle {
  margin-top: 20px;
  font-size: 2.4rem;
}

#Content2 {
  width: 100%;
  display: flex;
}
#Content2 #MailButton {
  background-color: #ac4dff;
}
#Content2 #FiverButton {
  background-color: #57d097;
}
#Content2 #MailButton:hover {
  transition: 200ms;
}
#Content2 section {
  cursor: pointer;
  width: 50%;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#Content2 section * {
  color: var(--MainWhite);
}
#Content2 section ion-icon {
  font-size: 3rem;
}

footer {
  background-color: var(--MainBlack);
  padding: 5px 0px;
}
footer p {
  color: var(--MainWhite);
}

@keyframes fade {
  0% {
    opacity: 0;
    color: var(--MainBlack);
  }
  100% {
    opacity: 1;
    color: var(--MainPurple);
  }
}
.SlideshowContainer {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-rows: auto 40% 20%;
  text-align: center;
  grid-template-columns: auto 80% auto;
}
.SlideshowContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  width: 60%;
  grid-row: 1;
  grid-column: 2;
}
.SlideshowContainer section {
  grid-row: 2;
  grid-column: 2;
  margin-top: auto;
  background-color: var(--MainBlack);
  text-align: center;
}
.SlideshowContainer section ion-icon {
  color: var(--MainPurple);
  font-size: 5rem;
}
.SlideshowContainer #UnderText {
  grid-column: 2;
  grid-row: 3;
  font-size: 1.2rem;
}

/* Hide the images by default */
.Slide {
  display: none;
  width: 100%;
  padding-left: 20%;
}
.Slide img {
  width: 100%;
  height: auto;
}

.Fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes Fade1 {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes Shin {
  0% {
    color: var(--MainBlack);
  }
  100% {
    color: var(--MainPurple);
  }
}
@media only screen and (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
  #ContentHolder {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
  }
  #ContentHolder .ContentHolder3 {
    width: 70%;
  }
  #Content2 {
    flex-direction: column;
    width: 100%;
  }
  #Content2 section {
    width: 100%;
    height: 50vh;
  }
  .SlideshowContainer {
    height: 100vh;
    width: 100%;
    grid-template-rows: 35% 20%;
    grid-template-columns: auto 80% auto;
  }
  .SlideshowContainer div {
    margin: 0px;
    width: 100%;
    height: auto;
    padding: 0;
  }
  #UnderText {
    grid-row: 3;
    grid-column: 2;
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=test2.css.map */