@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Dancing Script', cursive;

}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7209B7;

}

h1 {
    color: #4895EF;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

a {
    text-decoration: none;
    color: #F72585;

}

a:visited {
    color: #B5179E;
}