/*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*/
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
:root {
  --BackgroundColour: #F8F9FA;
  --TextColour: #212529;
  --SecondBackgroundColour: #CED4DA;
  --SecondTextColour: #E9ECEF;
  --HighlightColour: #ff9500;
  font-family: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  color: var(--TextColour);
}

ion-icon {
  color: var(--HighlightColour);
  margin: 0px;
  padding: 0px;
  font-size: 24px;
}

#NavPhone {
  display: none;
}

.NavPhoneActive {
  display: block;
  display: flex;
}

nav {
  width: 100%;
  height: 5vh;
  background-color: var(--BackgroundColour);
  display: flex;
  position: fixed;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
}
nav #DownArrow {
  display: none;
}
nav #NameText {
  font-family: "Cookie", cursive;
  font-size: 24px;
}
nav a {
  font-weight: bold;
  text-decoration: none;
  margin-left: 10%;
}
nav #LinkHolder {
  display: flex;
  width: 20vw;
  justify-content: space-evenly;
}

/* Landing styling  */
#MainImage {
  width: 100%;
  height: 100vh;
  background-image: url("../../Assets/MainImage3.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#MainImage h1:nth-child(2) {
  text-shadow: 2px 2px 2px var(--TextColour);
}

#Intro {
  width: 100%;
}
#Intro #ImgWrap {
  z-index: 3;
  width: 15vw;
  margin: 0px auto;
}
#Intro #ImgWrap #Img1 {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 3px solid var(--HighlightColour);
}

#JobTitle {
  text-align: center;
}

#Gallery {
  width: 100%;
}
#Gallery .GalleryImage {
  display: none;
  width: 25%;
  height: auto;
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}
main * {
  text-align: center;
  grid-column: 2;
}
main #LinkHolder {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
main #LinkHolder a {
  font-weight: bold;
  color: var(--TextColour);
}
main #LinkHolder a:hover {
  color: var(--SecondTextColour);
}
main #MySkills ul {
  list-style-type: none;
}
main #MySkills ul li {
  display: inline-block;
  border: 2px solid var(--TextColour);
  padding: 4px;
  margin: 0px 5%;
}
main #MySkills ul li:hover {
  background-color: var(--SecondBackgroundColour);
  transition: 400ms;
}
main .ContentHolder2 {
  width: 100%;
  display: flex;
}
main .ContentHolder2 .Content2 {
  width: 50%;
  display: inline-block;
}
main .ContentHolder2 .Content2 ul li {
  text-align: left;
}

#ProjectsHolder {
  background-color: var(--TextColour);
  padding-bottom: 25px;
  text-align: center;
  width: 100%;
}
#ProjectsHolder #MyProjectHeading {
  background-color: var(--TextColour);
  color: var(--HighlightColour);
}
#ProjectsHolder .Carsol {
  padding-right: 10%;
  padding-left: 10%;
  background-color: var(--TextColour);
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
}
#ProjectsHolder .Carsol .CarsolObject {
  height: 100%;
  width: 30%;
  border-radius: 5px;
  border: 2px solid var(--HighlightColour);
  background-color: var(--TextColour);
}
#ProjectsHolder .Carsol .CarsolObject h3 {
  font-family: "Cookie", cursive;
  font-size: 24px;
  color: var(--HighlightColour);
}
#ProjectsHolder .Carsol .CarsolObject p {
  color: var(--BackgroundColour);
}
#ProjectsHolder .Carsol .CarsolObject img {
  width: 100%;
  height: auto;
}

footer {
  background-color: var(--TextColour);
}
footer * {
  color: var(--BackgroundColour);
}

@media screen and (max-width: 600px) {
  #MainImage {
    width: 100%;
    background-position: 50% 0%;
  }
  main {
    grid-template-columns: 100%;
  }
  main * {
    grid-column: 1;
  }
  #NavPhone {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--BackgroundColour);
    padding-top: 5vh;
    position: fixed;
    width: 100vw;
    height: 95vh;
    z-index: 2;
    bottom: 0;
    right: 0;
  }
  #NavPhone #NameText {
    height: 10%;
    font-family: "Cookie", cursive;
    font-size: 36px;
    font-weight: bold;
  }
  #NavPhone #NavPhoneLinkHolder {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #NavPhone #NavPhoneLinkHolder p a {
    text-decoration: none;
  }
  #NavPhone #NavPhoneLinkHolder p a * {
    display: inline-block;
  }
  #NavPhone #NavPhoneLinkHolder p a ion-icon {
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
  }
  #NavPhone #NavPhoneLinkHolder p a span {
    vertical-align: middle;
    text-align: center;
    color: var(--HighlightColour);
    font-size: 40px;
  }
  nav {
    display: flex;
    justify-content: center;
  }
  nav #LinkHolder, nav a {
    display: none;
  }
  nav #DownArrow {
    display: block;
  }
  nav #DownArrowActive {
    transform: rotateX(180deg);
  }
  .ContentHolder2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ContentHolder2 .Content2 {
    width: 100%;
    display: inline-block;
  }
  .ContentHolder2 .Content2 h2 {
    text-align: center;
    margin: auto;
  }
  .ContentHolder2 .Content2 ul li {
    text-align: left;
  }
  #MySkills ul {
    list-style-type: none;
  }
  #MySkills ul li {
    display: inline-block;
    border: 2px solid var(--TextColour);
    padding: 4px;
    margin: 3% 0;
  }
  #MySkills ul li:nth-child(1), #MySkills ul li:nth-child(2) {
    margin: 0 2%;
  }
  #MySkills ul li:last-child {
    margin: 5% 0px;
  }
  #MySkills ul li:hover {
    background-color: var(--SecondBackgroundColour);
    transition: 400ms;
  }
  #ImgWrap #Img1 {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
}
/* Misc Styling */
#Typer {
  width: 3px;
  height: 24px;
  display: inline-block;
  background-color: var(--HighlightColour);
}

#Text {
  color: var(--HighlightColour);
}

.Highlight {
  color: var(--HighlightColour);
}

a {
  color: var(--HighlightColour);
}

#Line {
  border-top: 3px solid var(--HighlightColour);
  margin: 0px;
  padding: 0px;
}

/* Scroll bar styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--SecondBackgroundColour);
}

::-webkit-scrollbar-thumb {
  background-color: var(--HighlightColour);
  border-radius: 25px;
}/*# sourceMappingURL=index.css.map */