/*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Black.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

:root {
    --BackgroundColour: #F8F9FA;
    --TextColour: #212529;
    --SecondBackgroundColour: #CED4DA;
    --SecondTextColour: #E9ECEF;
    --HighlightColour: #ff9500;
    font-family: 'Roboto', sans-serif;
}


* {
    padding: 0;
    margin: 0;
    color: var(--TextColour);


}

ion-icon {
    color: var(--HighlightColour);
    margin: 0px;
    padding: 0px;
    font-size: clamp(12px, 24px, 64px);




    
}

#NavPhone {
    display: none;
}

.NavPhoneActive {
    display: block;
    display: flex;

}


nav {
    width: 100%;
    
    height: 5vh;
    background-color: var(--BackgroundColour);
    display: flex;
    position: fixed;
    z-index: 2;
    justify-content: space-between;

    #DownArrow {
        display: none;

    }

    #NameText {
        font-family: 'Cookie', cursive;
        font-size: 24px;
    }



    
    align-items: center;

    a {
        font-weight: bold;
        text-decoration: none;
        margin-left: 10%;


    }

    #LinkHolder {
        

        display: flex;
        width: 20vw;
        justify-content: space-evenly;
     

    }

    
}



/* Landing styling  */

#MainImage {
    width: 100%;
    height: 100vh;
    background-image: url("../../Assets/MainImage3.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1:nth-child(2) {
        text-shadow: 2px 2px 2px var(--TextColour);
    }

    
}

#Intro {
    width: 100%;



   
    #ImgWrap {
        z-index: 3;
        width: 15vw;
        margin: 0px auto;

        #Img1 {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            border: 3px solid var(--HighlightColour);
            }
    }


   

    
}




#JobTitle {
    text-align: center;
}



#Gallery {
    width: 100%;

    .GalleryImage {
        display: none;
        width:25%;
        height: auto;
    }
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;

    * {
        text-align: center;
        grid-column: 2;
    }

    #LinkHolder {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        a {
            font-weight: bold;
            color: var(--TextColour);
        }
        a:hover {
            color: var(--SecondTextColour);
        }
    }

    #MySkills {
        ul {
            list-style-type: none;
            li {
                display: inline-block;
                border: 2px solid var(--TextColour);
                padding: 4px;
                margin: 0px 5%;
            }

            li:hover {
                background-color: var(--SecondBackgroundColour);
                transition: 400ms;
            }
        }   
    }

    .ContentHolder2 {
        width: 100%;
        display: flex;


        .Content2 {
            width:50%;
            display: inline-block;

            ul {
                li {
                    text-align: left;
                }
            }
        }

    }
}

.Carsol {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;

    .CarsolObject {
        height: 100%;

        
        width: 25%;
        border-radius: 15%;
        border: 2px solid var(--HighlightColour);
        opacity: 75%;

        background-color: var(--SecondTextColour);

        h3 {
            font-family: 'Cookie', cursive;
            font-size: 24px;
            color: var(--HighlightColour);
            
        }
    }
}



footer {
    background-color: var(--TextColour);
    * {
        color: var(--BackgroundColour);

    }
}






@media screen and (max-width: 600px) {
    


    #MainImage {
        width: 100%;
        background-position: 50% 0%;
    }
    main {
        grid-template-columns: 100%;

        * {
            grid-column: 1;
        }
    }

    #NavPhone {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--BackgroundColour);


        padding-top: 5vh;
        position: fixed;
        width: 100vw;
        height: 95vh;
        z-index: 2;
        bottom: 0;
        right: 0;

        #NameText {
            height: 10%;
            font-family: 'Cookie', cursive;
            font-size: 36px;
            font-weight: bold;


        }

      #NavPhoneLinkHolder {
            height: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;


            p {
                
                
                a {
                    text-decoration: none;
                    * {
                        display: inline-block;
                    }
                    

                    ion-icon {
                        vertical-align: middle;
                        text-align: center;
                        font-size: 40px;

                    }
                    span {
                        vertical-align: middle;
                        text-align: center;
                        color: var(--HighlightColour);
                        font-size: 40px;
                    }
                }
                
            }
      }


       
        
    }
    

    nav {
        display: flex;
        justify-content: center;

        #LinkHolder, a {
            display: none;

        }
       
        #DownArrow {
            display: block;



        }
        #DownArrowActive {
            transform: rotateX(180deg);
        }
    }

    .ContentHolder2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;


        .Content2 {
            width:100%;
            display: inline-block;

            h2 {
                text-align: center;
                margin: auto;
            }

            ul {
                li {
                    text-align: left;
                }
            }
        }

    }

    
    #MySkills {
        ul {
            list-style-type: none;
            li {
                display: inline-block;
                border: 2px solid var(--TextColour);
                padding: 4px;
                margin: 3% 0;
            }
            li:nth-child(1), li:nth-child(2) {
                margin: 0 2%;

            }
            li:last-child {
                margin: 5% 0px;
            }

            li:hover {
                background-color: var(--SecondBackgroundColour);
                transition: 400ms;
            }
        }   
    }

    #ImgWrap {
    
       
        
        #Img1 {
            width: 100%;
            height: 100%;
            border-radius: 100%;

        }
        
        
    
    }
}


/* Misc Styling */
#Typer {
    width: 3px;
    height: 24px;
    display: inline-block;
    background-color: var(--HighlightColour);
}

#Text {
    color: var(--HighlightColour);
}

.Highlight {
    color: var(--HighlightColour);

}

a {
    color: var(--HighlightColour);
}

#Line {
    border-top: 3px solid var(--HighlightColour);
    margin: 0px;
    padding: 0px;

}

/* Scroll bar styling */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--SecondBackgroundColour);
}
::-webkit-scrollbar-thumb {
    background-color: var(--HighlightColour);
    border-radius: 25px;
}