/*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*/

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Black.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

:root {
    --BackgroundColour: #F8F9FA;
    --TextColour: #212529;
    --SecondBackgroundColour: #CED4DA;
    --SecondTextColour: #6C757D;
    --HighlightColour: #ff9500;
    font-family: 'Roboto', sans-serif;
}


* {
    padding: 0;
    margin: 0;
    color: var(--TextColour);


}

nav {
    width: 100%;
    
    height: 5vh;
    background-color: var(--BackgroundColour);
    display: flex;
    position: fixed;
    z-index: 2;
    
    align-items: center;

    a {
        font-weight: bold;
        text-decoration: none;

    }

    .EndLink {
        margin: 0 2%;
    }
    
    a:first-child {
        margin-left: 5%;
    }
    a:nth-child(2) {
        margin-left: auto;
    }
    
    a:last-child {
        margin-right: 10%;
    }
}



/* Landing styling  */

#MainImage {
    width: 100%;
    height: 100vh;
    background-image: url("../../Assets/MainImage3.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1:nth-child(2) {
        text-shadow: 2px 2px 2px var(--TextColour);
    }

    
}

#Intro {
    width: 100%;


    #Line {
        border: 3px solid var(--HighlightColour);
        
    }

    
}
#ImgWrap {
    width: 10vw;
    height: 10vw;
    top: -5vw;
    margin-left: 45%;
    position: relative;
    margin-bottom: -100px;
    img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
    
    

}

#JobTitle {
    text-align: center;
}



#Gallery {
    width: 100%;

    .GalleryImage {
        display: none;
        width:25%;
        height: auto;
    }
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;

    * {
        text-align: center;
        grid-column: 2;
    }

    #LinkHolder {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        a {
            font-weight: bold;
            color: var(--TextColour);
        }
        a:hover {
            color: var(--SecondTextColour);
        }
    }

    #MySkills {
        ul {
            list-style-type: none;
            li {
                display: inline-block;
                border: 2px solid var(--TextColour);
                padding: 4px;
                margin: 0px 5%;
            }

            li:hover {
                background-color: var(--SecondBackgroundColour);
                transition: 400ms;
            }
        }   
    }

    .ContentHolder2 {
        width: 100%;
        display: flex;


        .Content2 {
            width:50%;
            display: inline-block;

            ul {
                li {
                    text-align: left;
                }
            }
        }

    }
}






@media screen and (max-width: 600px) {
    
    #MainImage {
        width: 100%;
    }
    main {
        grid-template-columns: 100%;

        * {
            grid-column: 1;
        }
    }

    .ContentHolder2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;


        .Content2 {
            width:100%;
            display: inline-block;

            h2 {
                text-align: center;
                margin: auto;
            }

            ul {
                li {
                    text-align: left;
                }
            }
        }

    }

    
    #MySkills {
        ul {
            list-style-type: none;
            li {
                display: inline-block;
                border: 2px solid var(--TextColour);
                padding: 4px;
                margin: 3% 0;
            }
            li:nth-child(1), li:nth-child(2) {
                margin: 0 2%;

            }
            li:last-child {
                margin: 5% 0px;
            }

            li:hover {
                background-color: var(--SecondBackgroundColour);
                transition: 400ms;
            }
        }   
    }

    #ImgWrap {
        width: 10vw;
        height: 10vw;
        top: -5vw;
        margin-left: 45%;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }
        margin-bottom: 25%;
        
        
    
    }
}


/* Misc Styling */
#Typer {
    width: 3px;
    height: 24px;
    display: inline-block;
    background-color: var(--HighlightColour);
}

#Text {
    color: var(--HighlightColour);
}

.Highlight {
    color: var(--HighlightColour);

}

a {
    color: var(--HighlightColour);
}

/* Scroll bar styling */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--SecondBackgroundColour);
}
::-webkit-scrollbar-thumb {
    background-color: var(--HighlightColour);
    border-radius: 25px;
}