@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
:root {
  --MainWhite: #F8FAF9;
  --MainBlack: #212529;
}

html {
  font-size: 10px;
}

@font-face {
  font-family: TitleFont;
  src: url("../Fonts/Acantra-regular.otf"), url("../Fonts/Acantra-regular.ttf") format("ttf");
}

@font-face {
  font-family: SpecialFont;
  src: url("../Fonts/Kayla-Regular.otf"), url("../Fonts/Kayla-Regular.ttf") format("ttf");
}

* {
  padding: 0px;
  margin: 0px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-family: TitleFont;
  letter-spacing: 2px;
}

#Intro {
  width: 100%;
  height: 100vh;
  background-image: url(../Images/Trees.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Intro h1, #Intro h2 {
  font-family: SpecialFont;
  color: var(--MainWhite);
}

#Intro h1 {
  font-size: 80px;
  letter-spacing: 10px;
}

#Intro h2 {
  font-size: 50px;
  font-style: italic;
}

#Content3 {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#Content3 section {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Content3 section * {
  text-align: center;
}

#Content3 section section {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#Content3 section section i {
  font-size: 40px;
}

#Content3 section section h1 {
  font-family: TitleFont;
  font-size: 26px;
}

#Content2x2 {
  width: 100%;
  height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  text-align: center;
  background-color: var(--MainBlack);
  /*section:nth-child(1) h1, section:nth-child(4) h1  {
        margin-left: 20%;

    }*/
}

#Content2x2 section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Content2x2 section:nth-child(1) {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  color: var(--MainWhite);
}

#Content2x2 section:nth-child(2) {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  background-image: url("../Images/Trees2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Content2x2 section:nth-child(3) {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  background-image: url("../Images/Trees3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Content2x2 section:nth-child(4) {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  background-color: var(--MainBlack);
  color: var(--MainWhite);
}

#Content2x2 section:nth-child(3), #Content2x2 section:nth-child(2) {
  color: transparent;
}

#Content2x2 section:nth-child(3):hover section, #Content2x2 section:nth-child(2):hover section {
  -webkit-transition: 300ms;
  transition: 300ms;
  background-color: var(--MainBlack);
  width: 100%;
  height: 100%;
}

#Content2x2 section:nth-child(3):hover section, #Content2x2 section:nth-child(2):hover section {
  -webkit-transition: 300ms;
  transition: 300ms;
  color: var(--MainWhite);
  font-weight: bold;
  width: 100%;
  height: 100%;
  opacity: .7;
}

#Content2x2 section:nth-child(3):hover section p, #Content2x2 section:nth-child(3):hover section p {
  opacity: 1;
}

#Content2x2 section:nth-child(3):hover section p, #Content2x2 section:nth-child(2):hover section p {
  color: var(--MainWhite);
}

#Content2x2 section:nth-child(3) section p, #Content2x2 section:nth-child(2) section p {
  color: transparent;
}

#Reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  overflow-x: hidden;
  border-top: 2px solid var(--MainBlack);
  background-image: url("../Images/Treesbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Reviews * {
  color: var(--MainWhite);
}

#Reviews h1 {
  font-family: TitleFont;
  font-size: 40px;
}

#Reviews section {
  width: 80%;
  text-align: center;
  padding: 10px 0px;
}

#Reviews p:first-child {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  #Content3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #Content3 section {
    width: 100%;
  }
  #Intro {
    background-image: url("../Images/Tree4.jpg");
  }
}
/*# sourceMappingURL=Demo1.css.map */