@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');


:root {
    --MainWhite: #F8FAF9;
    --MainBlack: #212529;

}

@font-face {
    font-family: TitleFont;
    src: url("../Fonts/Acantra-regular.otf"), url("../Fonts/Acantra-regular.ttf") format("ttf"),
}

* {
    padding: 0px;
    margin: 0px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}


#Intro {
    width: 100%;
    height: 100vh;
    background-image: url(../Images/Trees.jpg);
    background-size: cover;
    background-attachment: fixed;



    #Triangle {
        background-color: var(--MainWhite);
        width: 50%;
        height: 100%;
        background: linear-gradient(to bottom right, #F8FAF9 0%, rgba(249, 251, 250, 0.4) 50%, transparent 50%, transparent 100%);

        #CurveText {
            font-family: TitleFont;
            margin-bottom: auto;
            font-size: 60px;
            letter-spacing: 2px;            
        }
    }

}


#Content3 {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;

    section {
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        * {
            text-align: center;
        }

        section {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            i {
                font-size: 40px;
            }
            h1 {
                font-family: TitleFont;
                font-size: 26px;
            }
        }

      
    }
}

#Reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    overflow-x: hidden;
    border-top: 2px solid var(--MainBlack);
    background-image: url("../Images/Treesbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    * {
        color: var(--MainWhite);
    }


    h1 {
        font-family: TitleFont;
        font-size: 40px;
    }

    section {
        width: 80%;
        text-align: center;
    }
    p:first-child {
        font-weight: bold;
    }

}