@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
    font-family: "CustomFont";
    src: url("Fonts/Inter-Black") format("opentype");
    }

:root {
    --MainRed: #732F41;
    --MainBlue: #476BAF;
    --MainBlack: #000000;
    --MainWhite: #FFFFFF;
    --MainFont: 'Open Sans', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: var(--MainFont);
    background-color: var(--MainWhite);
    color: var(--MainBlack);
}

body {
    width: 100%;
    height: 100vh;
}

.Input {
    border-radius: 25px;
    outline: none;
    border: none;

}

.Input::placeholder {
    font-weight: bold;
}



#MenuBar {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;   
    background-color: #F6F6F6;
    z-index: 2;
 

    span {
        #ProfilePicture, #MenuLogo {
            width: 10vw;
            height: 10vh;
            background-color: transparent;
            
        }


        #ProfilePicture {
            border-radius: 50px;


        }
    }

    
}
