@import "Defaults.scss";

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

img {
    padding-top: 10vh;
}


#AlumniHeading {
    font-weight: bold;
}
#AlumniText {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}


.Input {
    background-color: var(--MainRed);
    width: 50vw;
    height: 5vh;
    font-size: 20px;
    padding-left: 10px;
    color: var(--MainWhite);
    font-weight: bold;
    

}

.Input::placeholder {
    color: var(--MainWhite);
    margin-left: 10px;

}

#Login {
    background-color: var(--MainBlue);
    color: var(--MainWhite);
    font-weight: bold;
    border: none;
    border-radius: 25px;
    width: 50vw;
    height: 7vh;
    font-size: 24px;    
}

#LoginHolder {
    display: flex;
    flex-direction: column;
    height: 25vh;
    justify-content: space-evenly;
    
}



