@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: "CustomFont";
  src: url("Fonts/Inter-Black") format("opentype");
}

:root {
  --MainRed: #732F41;
  --MainBlue: #476BAF;
  --MainBlack: #000000;
  --MainWhite: #FFFFFF;
  --MainFont: 'Open Sans', sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: var(--MainFont);
  background-color: var(--MainWhite);
  color: var(--MainBlack);
}

body {
  width: 100%;
  height: 100vh;
}

.Input {
  border-radius: 25px;
  outline: none;
  border: none;
}

.Input::-webkit-input-placeholder {
  font-weight: bold;
}

.Input:-ms-input-placeholder {
  font-weight: bold;
}

.Input::-ms-input-placeholder {
  font-weight: bold;
}

.Input::placeholder {
  font-weight: bold;
}

#MenuBar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F6F6F6;
  z-index: 2;
}

#MenuBar span #ProfilePicture, #MenuBar span #MenuLogo {
  width: 10vw;
  height: 10vh;
  background-color: transparent;
}

#MenuBar span #ProfilePicture {
  border-radius: 50px;
}

ion-icon {
  font-size: 40px;
  color: var(--MainRed);
}

#MainBody #BasicData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#MainBody #BasicData #ProfileImage {
  border-radius: 100%;
  height: 60px;
  width: auto;
}

#MainBody #BasicData span {
  margin-left: 10px;
  font-weight: bold;
  color: var(--MainRed);
}

#MainBody #ImageForm {
  text-align: center;
}

#MainBody #ImageForm #PFPLabel {
  background-color: var(--MainBlue);
  text-align: center;
  color: var(--MainWhite);
  font-weight: bold;
  width: 40%;
  padding: 0px 20px;
}

#MainBody #ImageForm #PFPLabel #PFP {
  border: none;
  display: none;
}

#MainBody #ImageForm input[type=submit] {
  background-color: var(--MainRed);
  outline: none;
  border: none;
  color: var(--MainWhite);
  font-weight: bold;
  width: 40%;
  color: var(--MainWhite);
  font-weight: bold;
  display: none;
}

#MainBody .DataEdit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  margin: 0px auto;
}

#MainBody .DataEdit p {
  background-color: var(--MainBlue);
  color: var(--MainWhite);
  width: 20%;
  font-weight: bold;
  border-radius: 25px;
  padding-left: 10px;
  margin-right: auto;
}

#MainBody .DataEdit .Input {
  background-color: #E5E5E5;
  width: 80vw;
  display: none;
}

#MainBody .DataEdit #ConfirmEmail, #MainBody .DataEdit #ConfirmName {
  display: none;
}

#MainBody #TextData input[type=range] {
  background-color: var(--MainBlue);
}

#MainBody #TextData input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  /* Add cool effects to your sliders! */
  color: var(--MainBlue);
  background-color: var(--MainBlue);
}

#MainBody #TextData #TextPreview {
  background-color: #F1F1F2;
  color: red;
}

#MainBody #DeleteAccount {
  width: 100%;
  text-align: center;
  font-weight: bold;
  background-color: var(--MainRed);
  color: var(--MainWhite);
}
/*# sourceMappingURL=Profile.css.map */